body {
    background-color: #e5e0f0;
}

/* Navbar Custom Styles */
.navbar-custom {
    background-color: #e5e0f0; /* Light background color for the navbar */
    box-shadow: 0 2px 4px rgba(19, 18, 18, 0.1); /* Adding a subtle shadow for depth */
  }
  
  .navbar-brand-custom {
    font-weight: bold; 
    color: #0056b3; /* Custom color for the brand name */
  }
  
  .nav-item-custom {
    font-size: 1rem;
    color: #333; 
  }
  
  .nav-item-custom:hover {
    color: #0056b3; 
  }
  